.nav-main{
    background: #FC427B;
}
.nav-item{
    font-size: 16px;
    font-weight: 500;
    color: #fff !important;
}
.log-out{
    background: #fff;
    color: #FC427B !important;
    border-radius: 5px;
    font-weight: 500;
}